
.studentRef{
    display: flex;
    flex-direction: row;
}

#new{
    background-color: white;
    color: brown;    
    border: #002848 1px solid;
    padding: 11px 15px 10px 10px;
    width: 160px;
    align-content: center;
    justify-content: center;
    text-align: center;    
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.existLink {
    background-color: rgba(0, 61, 139, 0.4);
    color: #002848;
    border: #002848 1px solid;
    width: 160px;
    padding: 11px 15px 10px 10px;
    font-size: 16px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.existLink:hover{
    background-color: gold;
    color: #002848;
    cursor: pointer;
    transition: all 0.2s ease;
}

#new:hover{
    background-color: gold;
    color: #002848;
    cursor: pointer;
    transition: all 0.2s ease;
}

.newLink:hover{
    background-color: rgba(255, 215, 0, 0);
    color: #002848;
    cursor: pointer;
    transition: all 0.2s ease;
}

.new .check {
    display: none;
    width: 0px;
}

.exist .check{
    width: 18px;
}

.existLink, .newLink{
    color: none;
}